{% extends "page.html" %}

{% block realCodeSeg %} {# 适于PC端 #}

{# 原层级关系 start #}
<div class="bn-ph"  style="height: auto;">
  <div class="banner-container"  style="height: auto;">
    <div class="banner-inner"  style="height: auto;">
      <div class="banner-content">
        <iframe class="banner-iframe" id="ad-100010000201" width="969" height="90" frameborder="0" scrolling="no"  marginwidth="0" marginheight="0" src="templates/pushdown.html" style="height: 90px;">
        </iframe>
      </div>
    </div>
  </div>
</div>

                


{# 原层级关系 end #}


      
{% endblock %}