{% extends "page.html" %}

{% block realCodeSeg %} {# 仅适于App、非App移动端 #}

{# 原层级关系 start #}
<div class="bn-ph" data-id="banner-1">
    <div class="banner-container">
        <div class="banner-inner">
            <div class="banner-content">

                <iframe class="banner-iframe" width="100%" height="50" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="templates/fullWidthTopBanner.html">
                </iframe>

            </div>
        </div>
    </div>
</div>
{# 原层级关系 end #}

{% endblock %}