{% extends "page.html" %}

{% block realCodeSeg %} 

{# 原层级关系 start #}
    
  <div class="list even-item">
    <div class="">
    </div>
    <div class="adiframe banner loaded-in-view" type="50" frame="banner-paid-post-home" style="padding-bottom:50%;box-sizing:border-box;display:none;" id="ad-fullbody1" data-adid="20220121">
      <iframe id="fullbody1" src="templates/mobileInfoFlow.html" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="100%" height="100%">
      </iframe>
      <a target="_blank" class="ad-overlay hide"></a>
    </div>
    <div class="break-2-2 ">
    </div>
    <div class="story oneStory">
    </div>    
  </div>
{# 原层级关系 end #}
{% endblock %}