{% extends "page.html" %}

{% block realCodeSeg %} {# 适于PC端 #}

{# 原层级关系 start #}
<div class="bn-ph" data-id="banner-1" style="height: auto;">
    <div class="banner-container" style="height: auto;">
        <div class="banner-inner" style="height: auto;">
            <div class="banner-content" id="banner0content" style="height: auto;">

                <iframe class="banner-iframe" data-adch="1000" data-adposition="0001" id="banner0" width="969" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="templates/pushdownPic.html" data-src="" data-ad-type="banner" data-ad-count="0" style="height: 90px;">
                </iframe>

            </div>
        </div>
    </div>
</div>
{# 原层级关系 end #}


      
{% endblock %}