html,body {
  margin:0;
  padding:0;
  @include oColorsFor("page" "body" "link");
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}
section {
  margin:20px;
}

.section-showdevice {
  position:relative;
  background:#ffe1d0;
  &.type-pc {
    margin:30px;
    min-width:980px;
  }
  &.type-mobile {
      width:375px;
      height: 667px;
      padding: 0;
      margin:30px auto;
      
  }
}
.other-contents {
  height:50px;
}

.show-container {
    /*padding: 30px;*/
    margin: 0 auto;

    &.show-imgad {
      max-width: 700px;
      

    }

    &.show-html5ad {
      .banner-iframe {
        display:block;
      }
    }

    &.show-fullwidthtopbanner {
      /*position:absolute;
      width: 100%;
      top:50px;
      */
    }

    &.show-ccvideo {
      
    }
    &.show-mobilefullscreenimage {
      min-height:100%;
      margin: 0 auto;
    }
}

