@mixin tableRowStripes {
	background-color: #fff1e5;
  
  max-width:700px;
 
	caption {
    background-color: #fff1e5;
    font-size:24px;
    font-weight: bold;
    text-align: left;
    padding-left:50px;
  }
  thead tr {
   /* font-weight: bold;*/
    &:nth-child(even) {
      background-color: #f2dfce;
    }
  }
	tbody tr {
    &:nth-child(even) {
      background-color: #f2dfce;
    }
  }
  
  th,td {
    text-align: right;
    padding:10px;
  }

}
.table-section {
  
  margin-top:40px;
  /*
  overflow-x: scroll;
  max-width: 1400px;
  */
}
.table-rowstripes {
  @include tableRowStripes;
}

section {
  width: 100%;
  display: block;
}


.popwin {
  position:fixed;
  top:0;
  left:50%;
  margin-left:-250px;
  display:none;

  width:500px;
  height:300px; 
  background-color:#aaaaaa;
  overflow-x: scroll;
  iframe{
    background: #555555;
  }
}

.selected {
  color:#fff1e5;
  background-color: #aaaaaa
}