<script>
  var bgImg = '[[name=图片链接,width=250,type=textfield,allowblank=false]]';
  var sizeWidth = '[[name=广告宽度,width=250,type=textfield,allowblank=false,default=969]]';
  var sizeHeight = '[[name=广告高度,width=250,type=textfield,allowblank=false,default=90]]';
  var articleTitle = '[[name=文章标题,width=250,type=textfield,allowblank=false]]';
  var articleUrl = '[[name=视频链接,width=250,type=textfield,allowblank=false]]';

  if (sizeWidth === '300' && sizeHeight === '600') {
      var complexPagePath = window.parent.location.origin + '/m/marketing/adSubscription.html?';
  } else if (sizeWidth === '1200' && sizeHeight === '20') {
    var complexPagePath = window.parent.location.origin + '/m/marketing/adSubscription.html?';
  }
  
  var innerFrameId = parentId + 'Inner';
  var AdName = '[[name=广告名称,type = textfield,allowblank = true,width=250]]';
  var ifHideAdSign = '[[name=是否隐藏广告标志(Y/N),type = textfield,allowblank = false,width=250,default=N]]';
  var hideAdSign = "";
  if (ifHideAdSign == "Y") {
      hideAdSign = "yes";
  } else {
      hideAdSign = "";
  }

  document.write('<iframe class="banner-iframe" id="' + innerFrameId + '" width="' + sizeWidth + '" height="' + sizeHeight + '" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="' + complexPagePath + '"></iframe>');
</script>
