<script>
var AdName = '[[name=广告命名,width=250,type=textfield,allowblank=true]]';

if(window.parentId && /^ad-[0-9]{12}$/.test(window.parentId)) { //for NEXT
  var parentIframe = window.parent.document.getElementById(window.parentId);
  if (parentIframe) {
    if (parentIframe.parentNode) {
      var adContainerForMpu = parentIframe.parentNode;
      if (/mpu\-container/.test(adContainer.className)) {
        adContainerForMpu.style.display = 'none';
      }
      
    }
    if (parentIframe.parentNode && parentIframe.parentNode.parentNode && parentIframe.parentNode.parentNode.parentNode && parentIframe.parentNode.parentNode.parentNode.parentNode) {
      var adContainerForBanner = parentIframe.parentNode.parentNode.parentNode.parentNode;
      if (/bn\-ph/.test(adContainerForBanner.className)) {
        adContainerForBanner.style.display = 'none';
      }
    }
  }
} else if(window.adId && typeof window.adId === 'string') {//For webapp
    var adIdForHide = 'ad-' + adId;
    var containerFrame = window.parent.document.getElementById(adIdForHide);
    if (containerFrame) {
        containerFrame.style.display = 'none';
    }
}

</script>
