<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{pageTitle}}</title>
    <link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&amp;width=32&amp;height=32" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&amp;width=194&amp;height=194" sizes="194x194">

    <!-- smoosh -->
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <!-- endsmoosh -->
  </head>
  <body>
    <!-- smoosh -->
    <script src="./scripts/main.js"></script>
    <!-- endsmoosh -->
    {% block content %}
    {% endblock %}
    
  </body>