{% extends "base.html" %}

{% block content %}

    <section>
        <h1 class="">FTC AD Templates</h1>
    </section>

    <section>
      <h2>Introduce</h2>
      <div class="words">
        <p>There are many kinds of Ad Templates in FTC productions...
        <p>
      </div>
    </section>

    <section class="">
      <h2>Template Lists</h2>
      <div>
        <p>Click one item of the lists to view the template.</p>
      </div>
      <ul>
        <li>
          <p>
            <a href="show-imgAd.html">Img Ad</a>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-pushdown.html">Push Down</a>
            <span class="note">(Please choose the PC to view)</span>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-html5Ad.html">HTML5 Ad</a>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-fullWidthTopBanner.html">Full Width Top Banner</a>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-ccVideo.html">CC Video</a>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-mobileFullScreenImage.html">Mobile Full Screen Image</a>
          </p>
        </li>
        <li class="">
          <p>
            <a href="show-inReadAd.html">In Read Ad</a>
            <span class="note">(Please choose the PC to view)</span>
          </p>
        </li>
      </ul>
    </section>
{% endblock %}