{% extends "base.html" %}

{% block content %}

    <section>
        <h1 class="">FTC AD Templates</h1>
    </section>

    <section>
      <h2>Introduce</h2>
      <div>There are many kinds of Ad Templates in FTC productions...</div>
    </section>

    <section class="">
      <h2>Template Lists</h2>
      <div class="">
        <a href="show-imgAd.html">Template Show:Img Ad</a>
      </div>
      <div class="">
        <a href="show-pushdown.html">Template Show:Push Down</a>
      </div>
      <div class="">
        <a href="show-html5Ad.html">Template Show:HTML5 Ad</a>
      </div>
      <div class="">
        <a href="show-fullWidthTopBanner.html">Template Show:Full Width Top Banner</a>
      </div>
      <div class="">
        <a href="show-ccVideo.html">Template Show:CC Video</a>
      </div>
      <div class="">
        <a href="show-mobileFullScreenImage.html">Template Show:Mobile Full Screen Image</a>
      </div>
      <div class="">
        <a href="show-inReadAd.html">Template Show:In Read Ad</a>
      </div>
    </section>
{% endblock %}