{% extends "base.html" %}

{% block content %}
  <section>
    <header>
      <h1>FTC AD Data</h1>
    </header>
    <section>
      <ul>
        <li>
          <p>
            <a href="adTable.html">Img Ad</a>
          </p>
        </li>
      </ul>
    </section>
  </section>

  <section>
    <header>
        <h1 class="">FTC AD Templates</h1>
    </header>

    <section>
      <header>
        <h2>Introduce</h2>
      </header>
      <section class="words">
        <p>There are many kinds of Ad Templates in FTC productions...
        <p>
      </section>
    </section>

    <section class="">

      <header>
        <h2>Template Lists</h2>
      </header>

      <section>
        <p>Click one item of the lists to view the template.</p>
      </section>

      <section>
        <header>
          <h3>常规广告</h3>
        </header>

        <section>
          <ul>
            <li>
              <p>
                <a href="show-imgAd.html">Img Ad</a>
              </p>
            </li>

            <li class="">
              <p>
                <a href="show-fullWidthTopBanner.html">Full Width Top Banner</a>
              </p>
            </li>
            <li class="">
              <p>
                <a href="show-ccVideo.html">CC Video</a>
              </p>
            </li>
            <li class="">
              <p>
                <a href="show-mobileFullScreenImage.html">Mobile Full Screen Image</a>
              </p>
            </li>
          
            <li class="">
              <p>
                <a href="show-mobileInfoFlow.html">Mobile Info Flow</a>
              </p>
            </li>
          </ul>
        </section>
      </section>

      <section>
        <header>
          <h3>富媒体广告</h3>
        </header>
        
        <section>
          <ul>
            <li class="">
              <p>
                <a href="show-pushdownVideo.html">Push Down Video</a>
                <span class="note">(Please choose the PC to view)</span>
              </p>
            </li>
            <li class="">
              <p>
                <a href="show-pushdownPic.html">Push Down Pic</a>
                <span class="note">(Please choose the PC to view)</span>
              </p>
            </li>
            <li class="">
              <p>
                <a href="show-html5Ad.html">HTML5 Ad</a>
              </p>
            </li>
            <li class="">
              <p>
                <a href="show-inReadAd.html">In Read Ad</a>
                <span class="note">(Please choose the PC to view)</span>
              </p>
            </li>
          </ul>
        </section>
    </section>
  </section>

  

{% endblock %}