{% extends "base.html" %}

{% block content %}
<section>
    <h1>{{templateHeadline}}</h1>
</section>

<section class = "section-demo">
    <h2>Demo</h2>
    <div class = "section-showdevice {{deviceType}}">

        <div class="other-contents">
            <p>{{preText}}</p>
        </div>

      
        <div class = "show-container {{showContainerType}}">
        {% block realCodeSeg %}
        {% endblock %}
        
        </div>
            
       
        <div class="other-contents">
            <p>{{postText}}</p>
        </div>
    </div>
</section>

<section class = "section-description">
    <h2>Specifications</h2>
    <p>{{description}}</p>
    <h3>Suited Ends:</h3>
    <p>{{suitedEnds}}</p>
    <h3>开发者注意事项：</h3>
    <p>{{developerNotes}}</p>
</section>
{% endblock %}