{% extends "base.html" %}

{% block content %} {# 仅适于非App移动端 #}
<div class = "section-showdevice type-mobile">

    <div class="other-contents">
    </div>

    <div class = "show-container show-fullwidthtopbanner"> 

        {# 原层级关系 start #}
            <iframe class="banner-iframe" width="100%" height="50" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="templates/mobileFullScreenImage.html">
            </iframe>
        {# 原层级关系 end #}


    </div>

    <div class="other-contents">
    </div>
</div>
{% endblock %}