<script>
var ImgWidth = 300;
var ImgHeight = 250;
var ImgSrc = "https://creatives.ftimg.net/ads/beijing/201707/20170703housead300250.gif";
var Click = "https://item.taobao.com/item.htm?id=551026037819";

var Imp = '';
var AdName = '';
var AssID = '';


if (Imp !== '') {
var gaServerTracker = new Image();
gaServerTracker.src = 'http://www.ftchinese.com/index.php/ft/hit/' + AssID + '/2?ec=' + AdName + ' (' + AssID + ')' + '&ea=initiate&el=' + Imp + '&' + Math.random();
if (typeof window.parent.sendImpToThirdParty === 'function') {
window.parent.sendImpToThirdParty(Imp, AdName, AssID);
} else {
sendImpToThirdParty(Imp, AdName, AssID);
}
}

document.write('<div style="width:' + ImgWidth + 'px;height:' + ImgHeight + 'px;border:none;padding:0px;margin:0px;overflow:hidden;"><a href="' + Click + '" target="_blank"><img src="' + ImgSrc + '" style="width:' + ImgWidth + 'px;height:' + ImgHeight + 'px;border:none;" /></a></div>');

</script>