<script>
    var AdName = '付费订阅推广300x600';
    var sizeWidth = 300;
    var sizeHeight = 600;
  
    var topTitle = '资讯';
  
    var headArticleTitle = '中国迎来主导经济全球化的机遇';
    var headArticleUrl = 'http://www.ftchinese.com/story/001076821?archive';
    var headArticleImg = 'http://i.ftimg.net/picture/2/000068239_piclink.jpg';
  
    var listArticle1Tag = '中国';
    var listArticle1Title = '中国：治疗癌症领域的黑马';
    var listArticle1Url = 'http://www.ftchinese.com/story/001077339?archive';
  
    var listArticle2Tag = '朝鲜核危机';
    var listArticle2Title = '韩国总统称可能举行韩朝美三方峰会';
    var listArticle2Url = 'http://www.ftchinese.com/story/001076833?archive';
  
  
    var listArticle3Tag = '中美关系';
    var listArticle3Title = '特朗普与习近平通话 一致同意维持对朝制裁';
    var listArticle3Url = 'http://www.ftchinese.com/story/001077485';
  
    if (sizeWidth === 300 && sizeHeight === 600) {
        var complexPagePath = window.parent.location.origin + '/m/marketing/adSubscription300x600.html?';
    } else if (sizeWidth === '1200' && sizeHeight === '20') {
      var complexPagePath = window.parent.location.origin + '/m/marketing/adSubscription.html?';
    }
    
    var innerFrameId = parentId + 'Inner';
  
    document.write('<iframe class="banner-iframe" id="' + innerFrameId + '" width="' + sizeWidth + '" height="' + sizeHeight + '" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="' + complexPagePath + '"></iframe>');
  </script>