<script>
  var AdName = 'hideMyAd';
  
  var parentIframe = window.parent.document.getElementById(parentId);
  if (parentIframe) {
    if (parentIframe.parentNode) {
      var adContainerForMpu = parentIframe.parentNode;
      if (/mpu\-container/.test(adContainerForMpu.className)) {
        adContainerForMpu.style.display = 'none';
      }
    }
    if (parentIframe.parentNode && parentIframe.parentNode.parentNode && parentIframe.parentNode.parentNode.parentNode && parentIframe.parentNode.parentNode.parentNode.parentNode) {
      var adContainerForBanner = parentIframe.parentNode.parentNode.parentNode.parentNode;
      if (/bn\-ph/.test(adContainerForBanner.className)) {
        adContainerForBanner.style.display = 'none';
      }
    }
  }
</script>