<script>
  if(!parentId) {
  var parentId = "banner0";
}
var detailPage = "https://www.hennessy.com/zh-cn/hennessyparadisimperial/";
var bannerImg = "http://i.ftimg.net/picture/2/000071402_piclink.jpg";
var videoPoster = "http://i.ftimg.net/picture/3/000071403_piclink.jpg";
var sourceUrl = "http://ds-cc.serving-sys.com/BurstingRes/Site-3968/Type-16/3dd3a38b-68ff-4a3d-a842-e076dca5a631.mp4";
var sourceType = "video/mp4";
var imgWidth = '969';
var imgHeight = '90';
var complexPagePath = "complex_pages/pushdownVideo.html";
var innerFrameId = parentId + 'Inner';


var AssID = '000000';
var adch = AssID.substr(0,4);
var adposition = AssID.substr(-4);


  
  
  document.write('<iframe class="banner-iframe" data-adch="' + adch + '" data-adposition="' + adposition + '" id="'+innerFrameId+'" width="'+ imgWidth +'" height="' + imgHeight + '" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="'+ complexPagePath +'"></iframe>');
</script>
