<script>
  if(!parentId) {
  var parentId = "banner0";
}
var detailPage = "https://www.hennessy.com/zh-cn/hennessyparadisimperial/";
var bannerImg = "http://i.ftimg.net/picture/2/000071402_piclink.jpg";
var videoPoster = "http://i.ftimg.net/picture/3/000071403_piclink.jpg";
var sourceUrl = "http://ds-cc.serving-sys.com/BurstingRes/Site-3968/Type-16/3dd3a38b-68ff-4a3d-a842-e076dca5a631.mp4";
var sourceType = "video/mp4";

var complexPagePath = "../complex_pages/pushdownVideo.html";
var innerFrameId = parentId + 'Inner';

var Imp = 'https://g.cn.miaozhen.com/x/k=2055283&p=782Lt&dx=__IPDX__&rt=2&ns=__IP__&ni=__IESID__&v=__LOC__&xa=__ADPLATFORM__&tr=__REQUESTID__&o=';
var AdName = 'BMW Pushdown';
var AssID = '000000';


  
  
  document.write('<iframe class="banner-iframe" data-adch="1000" data-adposition="0001" id="'+innerFrameId+'" width="969" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="'+ complexPagePath +'"></iframe>');
</script>
