<script>
{{defineVar.imgAd}}

if (HouseAd === 'Y') {
isHouseAd = true;
} else {
isHouseAd = false;
}

if (Imp !== '') {
var gaServerTracker = new Image();
gaServerTracker.src = 'http://www.ftchinese.com/index.php/ft/hit/' + AssID + '/2?ec=' + AdName + ' (' + AssID + ')' + '&ea=initiate&el=' + Imp + '&' + Math.random();
if (typeof window.parent.sendImpToThirdParty === 'function') {
window.parent.sendImpToThirdParty(Imp, AdName, AssID);
} else {
sendImpToThirdParty(Imp, AdName, AssID);
}
}

{{defineSendImpfunc}}


document.write('<div style="width:' + ImgWidth + 'px;height:' + ImgHeight + 'px;border:none;padding:0px;margin:0px;overflow:hidden;"><a href="' + Click + '" target="_blank"><img src="' + ImgSrc + '" style="width:' + ImgWidth + 'px;height:' + ImgHeight + 'px;border:none;" /></a></div>');

</script>