<script>
  if(!parentId) {
    var parentId = "banner0";
  }
  {{defineVar.pushDown}}

  if (typeof window.parent.sendImpToThirdParty === 'function') {
      window.parent.sendImpToThirdParty(Imp, AdName, AssID);
  } else {
      sendImpToThirdParty(Imp, AdName, AssID);
  }
  {{defineSendImpfunc}}
  
  document.write('<iframe class="banner-iframe" data-adch="1000" data-adposition="0001" id="'+innerFrameId+'" width="969" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="../complex_pages/pushdown.html"></iframe>');
</script>
